/* The terminal Styles */
body {
  background: #F5F5F5;
}
.term {
  font-family: courier,fixed,swiss,monospace,sans-serif;
  font-size: 14px;
  color: #00BCFF;
  background: #F5F5F5;
}
.termReverse {
  color: #FBA300;
  background: #F5F5F5;
}
