/* The terminal Styles */
body {
  background:  #F4D03F;
}
.term {
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 14px;
  color:  #2E4053;
  background:  #F4D03F;
}
.termReverse {
  color:  #2E4053;
  background: #F5F5F5;
}

table {
  position: absolute;
  top: 25%;
  left: 32%;
}
